@import "../../style.css";
@import "../Home/style.css";



/*mais do sobre*/
.main{
    padding-bottom: 100px;
}
.main .project .row{
    margin: 40px 0px;
}

.project .card .textcard{
    padding: 24px;
}
.project .textcard .Ltitle
{letter-spacing: 2px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 16px 0px 24px 0px;

}

.project .Lsubtitle{

    color:var(--whiteopacty);
    margin: 16px 0px 8px 0px;
    border-top: solid 2px var(--pink);
    padding-top: 16px;
    letter-spacing: 1px;
}
.project ul li {
    color: var(--silver);
    text-transform: capitalize;
    font-weight: 400;
    padding: 4px 0px;
}